<div class="modal">
  <header class="bar bar-header bar-positive">
    <h1 class="title">Ny övning</h1>
    <button class="button button-icon icon ion-close-round" ng-click="modal.hide()"></button>
  </header>
  <ion-content has-header="true">
    <div class="list">
      <label class="item item-input">
        <input type="text" ng-model="exercise.name" placeholder="Övningens namn">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="createExercise(exercise)">Skapa övning</button>
    </div>
  </ion-content>
</div>